* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0D0D0D;
  color: #FFFFFF;
}

.hero {
  height: 100vh;
  background-image: url('../html/filmes-indicados-ao-oscar-de-melhor-filme-desde-2020-qual-v0-2g69oq0nvlje1.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.hero::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content h2 {
  font-size: 3rem;
  color: #E50914;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 8px black;
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 5px black;
}

main .conteudo {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.conteudo h3 {
  font-size: 2rem;
  color: #E50914;
  margin-bottom: 1rem;
  
}

.conteudo p {
  font-size: 1.1rem;
  color: #CCCCCC;
  line-height: 1.6;
}

.footer {
  text-align: center;
  padding: 20px 0;
  background-color: #1C1C1C;
  font-size: 0.9rem;
  color: #808080;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  gap: 15px;
}

.footer-links li a {
  color: #E50914;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.footer-links li a:hover {
  color: #ffffff;
}

/* Ações */
.acoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.botao-branco {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.botao-branco:hover {
  background-color: #e50914;
  border-color: #e50914;
  color: #fff;
}

.ou {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 250px;
  gap: 1rem;
  color: #aaa;
  font-weight: bold;
  font-size: 0.9rem;
}

.ou hr {
  flex: 1;
  border: none;
  border-top: 1px solid #aaa;
}

.ou span {
  white-space: nowrap;
}